body{
    background-color:#5a6266;
}
h2{
    text-align: center;
    font-size: 50px;
    color:rgb(192, 240, 240);
}
.ups{
    font-size: 25px;
    color: rgb(231, 189, 109);
}
dd{
    font-size: 18px;
    text-align: left;
    color:rgb(251, 250, 252);
    width: 900px;
}
.ut{
    font-size: 25px;
    color: rgb(192, 125, 0);
}
.cont{
    font-size:40px;
    color:rgb(221, 202, 115);
    width: 700px;
    margin: auto;
    text-decoration: none !important;
}
.cont2{
    font-size:40px;
    color:rgb(221, 202, 115);
    margin: auto;
    text-decoration: none !important;
    width: 230px;
    float: right;  
}
